@font-face {
  font-family: branch;
  src: url(./fonts/Branch/Branch.ttf) format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: satoshi;
  src: url(./fonts/Satoshi_Complete/Variable/Satoshi-Variable.ttf)
    format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: satoshi_italic;
  src: url(./fonts/Satoshi_Complete/Variable/Satoshi-VariableItalic.ttf)
    format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  display: flex;
  background: #fff;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  flex-direction: column;
  font-family: satoshi;
  font-variation-settings: "wght" 500;
}
* {
  box-sizing: border-box;
}

.table {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.table_inn {
  top: 0;
  width: 100vw;
  height: 100vh;
  background: #fff;
  position: absolute;
  overflow-x: hidden;
  overflow-y: scroll;
}

.hide_table {
  visibility: hidden;
}

.table_inner {
  width: 100vw;
  position: relative;
  min-height: 100vh;
  padding-bottom: 50px;
}

.table_header {
  display: flex;
  font-size: 18px;
  position: relative;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 25px 2rem 0px 2rem;
}

.logo_tab {
  display: flex;
  font-size: 19px;
  text-align: center;
  vertical-align: middle;
}

.logo_tab i {
  font-size: 11px;
  margin-top: 9px;
  color: #2b0fff;
}

.table_header .close_table {
  width: 5vw;
  height: 5vw;
  font-size: 20px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.table_grid {
  width: 100%;
  height: 100%;
  display: grid;
  font-size: 20px;
  padding: 2rem 2rem;
  box-sizing: border-box;
  flex-direction: column;
}

.row {
  width: 100%;
  display: grid;
  grid-gap: 1.5rem 1.5rem;
  grid-template-columns: auto auto auto auto;
}

@media screen and (max-width: 880px) {
  .row {
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 530px) {
  .row {
    grid-template-columns: auto;
  }
}

.item {
  height: 70px;
  display: flex;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  align-items: center;
  box-sizing: border-box;
  border: 1px dashed #000;
  padding: 0px 15px;
  justify-content: space-between;
}

.row .item .after {
  top: 0px;
  left: -100%;
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 1rem;
  background: #000;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.item img {
  width: 16px;
  height: 16px;
}
.item span {
  overflow: hidden;
}

.item {
  font-size: 14px;
  white-space: nowrap;
}

.item span:nth-child(2) {
  font-size: 14px;
  margin-left: 0.3rem;
}

.item .copycode {
  color: red;
}

.item div:nth-child(2) {
  /*width: 11rem;*/
  display: flex;
  overflow: hidden;
  flex-wrap: nowrap;
  flex-direction: row;
  display: inline-block;
}

.item div:nth-child(3) {
  position: absolute;
  right: 15px;
  background: #fff;
}

/*************************/

.press_keys {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
}

.press_keys_header {
  top: 0;
  width: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  box-sizing: border-box;
  padding: 15px 4vw 0px 4vw;
  justify-content: space-between;
}

.press_keys_header .show_all {
  display: flex;
  cursor: pointer;
  font-size: 18px;
  align-items: center;
}

.press_keys_header .made_by {
  display: flex;
  font-size: 19px;
  text-align: center;
  vertical-align: middle;
}

.press_keys_header .made_by i {
  font-size: 11px;
  margin-top: 9px;
  color: #2b0fff;
}

.press_keys_header .made_by a {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

.press_keys_header .made_by .folio_link {
  color: #ff0000;
  text-decoration: none;
}

.press_keys_header .show_all img {
  width: 1rem;
  height: 1rem;
  margin-left: 5px;
  margin-top: 2px;
}

.pressed {
  font-size: 40px;
  margin-top: 10vh;
  font-family: branch;
}

.values_cont {
  width: 100%;
  display: flex;
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.val_box {
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  margin: 1vw 1vw;
}
@media screen and (max-width: 880px) {
  .val_box {
    width: 30vw;
  }
}
@media screen and (max-width: 600px) {
  .val_box {
    width: 45vw;
    margin: 2vw 2vw;
  }
}
@media screen and (max-width: 500px) {
  .values_cont {
    align-items: center;
    flex-direction: column;
  }
  .val_box {
    width: 80vw;
    margin: 2vw 0vw;
  }
}

.e_header {
  width: 100%;
  font-size: 16px;
  padding: 10px 17px;
  color: #fff;
  background: #2b0fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
}

.e_vals {
  width: 100%;
  display: flex;
  font-size: 18px;
  padding: 20px 0px;
  align-items: center;
  border: 1px dotted #2b0fff;
  border-top: none;
  justify-content: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.foot_note {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
  flex-wrap: wrap;
}
.foot_note a {
  color: #2b0fff;
  text-decoration: none;
  letter-spacing: 0.02rem;
  font-variation-settings: "wght" 700;
}
